.header {
    .header-content {
        flex-direction: row;
        background: transparent;
        box-shadow: none;

        .header-logo {
            margin: 7px;
            cursor: pointer;

            img {
                border-radius: 4px;
            }
        }

        .header-left-container {
            display: flex;

            h1 {
                color: white;
            }
        }

        .header-right-container {
            margin-right: 0;
            margin-left: auto;
            display: flex;
            flex-direction: row-reverse;

            .account-container {
                display: flex;
                flex-direction: column;
                margin-right: 10px;
                cursor: pointer;

                svg {
                    margin: 10px 20px 0px;
                }

                .icon-text {
                    text-align: center;
                    color: white;
                    font-size: 12px;
                    font-weight: 500;
                }
            }
        }
    }
}

.App {
    .main-content {
        position: relative;
        z-index: 10;

        .patient-search-box {
            background-color: white;
            border-radius: 4px;
        }

        .add-patient-button-container {
            margin: 30px;

            button {
                color: white;
                background-color: #39ac39;

                a {
                    color: white;
                    text-decoration: none;
                }
            }
        }

        .get-patient-details-button {
            margin-top: 20px;
        }
    }

    .patients-search-results-container {
        height: 70vh;
        overflow: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;

        .no-results-found-container {
            margin-top: 30px;

            img {
                border-radius: 10px;
                height: 25em;
                width: 25em;
            }

            p {
                font-weight: 500;
                font-size: 22px;
            }
        }
    }

    .patients-search-results-container::-webkit-scrollbar {
        display: none;
    }

    .progress-loader {
        width: 100px;
        height: 100px;
        margin-top: 70px;
        color: white;
    }
}

.card-result-container {
    position: relative;
    z-index: 10;
    color: red;
    margin: 15px;
    text-transform: capitalize;

    .MuiCardHeader-title {
        font-size: 28px;
        font-weight: 700;
    }

    .card-result-item {
        text-align: center;
        margin: 0 auto;
        cursor: pointer;

        .card-content-header {
            font-size: 24px;
            font-weight: 500;
            text-align: left;
            margin: 0 15px 15px;
        }

        .card-content-fields {
            margin-bottom: 7px;
            text-align: left;
            display: flex;
            justify-content: space-between;
        }
    }

    span {
        text-align: right;
    }

    span:first-child {
        text-align: left;
        padding: 0 30px;
    }
}

.add-patient-form-container {
    padding: 30px;

    .add-patient-form-content {
        .add-patient-form-content-field {
            margin: 10px 15%;
            display: flex;

            .add-patient-form-label {
                flex: 1 1 auto;
                min-width: 30%;
            }

            .add-patient-form-value {
                flex: 1 1 75%;

                select {
                    color: black;
                }

                &.gender-select {
                    color: black;
                }

                .MuiOutlinedInput-notchedOutline {
                    span {
                        color: black;
                    }
                }
            }
        }
    }

    .add-patient-button-container {
        display: block;
        text-align: center;
        margin: 10px auto;

        .add-patient-submit-button {
            margin: 10px;
        }

        .add-patient-reset-button {
            margin: 10px;
        }
    }
}

.login-container {
    margin: 20px auto;
    width: 70%;

    .login-content {

        .login-username-field {
            margin-bottom: 20px;
        }

        .login-password-field {}
    }

    .login-buttton {
        display: block;
        margin: 20px auto;
    }
}

.patient-details-container {
    display: flex;
    margin: 20px auto;
    max-width: 1200px;

    .reports-container {
        flex: 1 1 75%;
        height: 27em;
        margin: 10px 10px 0 20px;

        .reports-list-container {
            overflow: auto;
            height: 20em;
            display: flex;
            flex-wrap: wrap;
            .report-content {
                background: #f2f2f5;
                width: 14em;
                height: 14em;
                padding: 15px;
                margin: 7px;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 15px;
                justify-content: space-between;
                border-radius: 20px;
                .report-meta-details {
                    display: flex;
                    flex-direction: column;
                    align-self: start;
                    .report-name {
                        font-weight: 500;
                        font-size: 22px;
                    }

                    .report-created-date {
                        font-weight: 400;
                        font-size: 14px;
                    }
                }

                .report-action-buttons {
                    display: flex;
                    gap: 10px;
                    .report-download {
                        margin-right: 0;
                        margin-left: auto;
                        width: 7em;
                        height: 3em;
                        margin-bottom: 10px;
                    }
                    .report-delete {
                        background-color: #e64444;
                        border: none;
                        color: #fff;
                        width: 7em;
                        height: 3em;
                    }
                }
                .report-divider {
                    width: 100%;
                    margin-top: 3em;
                }

            }

            .no-reports-found-container {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                img {
                    width: 10em;
                    height: 10em;
                }
            }
        }
    }

    .upload-container {
        flex: 1 1 25%;
        height: 27em;
        margin: 10px 20px 0 10px;

        .upload-container-button {
            display: flex;
            flex-direction: column;
            padding: 0 16px;
            .select-diagnostic-area {
                .select-diagnostic-drop-down {
                    width: 100%;
                    margin: 3px 0;
                }
            }

            .upload-area {
                width: 15em;
                height: 10em;
                margin: 10px auto;
                padding: 5px;
                border: 2px dotted rgb(112, 156, 238);

                .selected-file {
                    background: #9faafb;
                    border-radius: 10px;
                    padding: 7px;
                    margin: 5px 5px 0 5px;
                }

                .buttons-container {
                    display: flex;
                    flex-direction: column;
                    place-content: center;
                    place-items: center;
                    margin: 7%;

                    label {
                        height: 40px;
                    }

                    .remove-file {
                        height: 40px;
                        display: block;
                        margin: auto;
                    }
                }
            }

            .upload-report-button {
                color: white;
                background-color: #39ac39;
                border: none;
                width: 200px;
                margin: 15px auto;
            }

            .progress-loader {
                width: 60px;
                height: 60px;
                margin-top: 30px;
                color: white;
            }
        }
    }

    @media (max-width: 1200px) {
        display: block;

        .upload-container {
            .upload-container-button {
                .upload-area {
                    width: 300px;

                    .buttons-container {
                        display: block;
                        margin: 5% auto;
                        text-align: center;
                    }
                }
            }
        }
    }
}